[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.2.5"
cx-oracle = "*"
psycopg2 = "*"
mysqlclient = "*"
mssql-django = "*"
lock = "*"
pyodbc = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
