[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-mssql-backend = "*"
cx-oracle = "*"
psycopg2 = "*"
mysqlclient = "*"
django-pyodbc-azure-2019 = "*"

[dev-packages]

[requires]
python_version = "3.9"
