on: [push, pull_request]
name: Test
jobs:
  test:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: stable
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Build
      run: go build ./...
